*{
    margin: 0;
    padding: 0;
}
body{
    background: #edf2fc;
}
.hero{
    height: 100vh;
    width: 100%;
    background: #edf2fc;
    font-family: sans-serif;
    position: relative;
    
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
  
   
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #606163;
}

nav ul li a:hover{
    color: #ff4321;
}
nav img{
    height: 40px;
    width: 40px;
    
    margin-right: 10px;

    display: none;
}
.img-mob{
    display: none;
}
.info{
    margin-left: 8%;
    margin-top: 15%;
}
.info h1{
    font-size: 70px;
    color: #212121;
}
#span{
    color: #000106;
    animation: animate linear 2s infinite;
}
.info p{
        color: #606163;
        line-height: 22px;   
}
.info a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.img{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img:hover .back-img{
    bottom: 40px;
}
 .main-img:hover{
    left: 54%;
}
.social{
    margin-left: 8%;
    margin-top: 100px;
}
.social a{
    font-size: 30px;
    color: #606163;
    margin-right: 20px;
}
.social a:hover{
    color: #ff4321;
}

.contact{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
form h3{
    font-weight: 800;
    color: #606163;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

form{
   background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
}
form input, form textarea{
    border: 0;
    margin: 10px;
    padding: 20px;
    background: #f5f5f5;
}
form button{
    padding: 15px;
    background: #ff4422;
    color: whitesmoke;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor:pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
form button:hover{
    background: black;

}
footer p{
    margin: 15px;
   font-size: 15px;
   color: rgb(77, 75, 75);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


@keyframes animate {
    0%{
        text-shadow: 
        4px -4px 0 rgba(255,0,0,1),
        3px -3px 0 rgba(255,0,0,1),
        2px -2px 0 rgba(255,0,0,1),
        1px -1px 0 rgba(255,0,0,1),
        -4px 4px 0 rgba(134,5,255),
        -3px 3px 0 rgba(134,5,255),
        -2px 2px 0 rgba(134,5,255),
        -1px 1px 0 rgba(134,5,255);
        
        
        
        
    }
    25%{
        text-shadow: 
        -4px -4px 0 rgba(134,5,255),
        -3px -3px 0 rgba(134,5,255),
        -2px -2px 0 rgba(134,5,255),
        -1px -1px 0 rgba(134,5,255),
        4px 4px 0 rgba(255,0,0,1),
        3px 3px 0 rgba(255,0,0,1),
        2px 2px 0 rgba(255,0,0,1),
        1px 1px 0 rgba(255,0,0,1);
    }
    50%{
        text-shadow: 
        -4px 4px 0 rgba(255,0,0,1),
        -3px 3px 0 rgba(255,0,0,1),
        -2px 2px 0 rgba(255,0,0,1),
        -1px 1px 0 rgba(255,0,0,1),
        4px -4px 0 rgba(134,5,255),
        3px -3px 0 rgba(134,5,255),
        2px -2px 0 rgba(134,5,255),
        1px -1px 0 rgba(134,5,255);
    }
    75%{
        text-shadow: 
        4px 4px 0 rgba(134,5,255),
        3px 3px 0 rgba(134,5,255),
        2px 2px 0 rgba(134,5,255),
        1px 1px 0 rgba(134,5,255),
        -4px -4px 0 rgba(255,0,0,1),
        -3px -3px 0 rgba(255,0,0,1),
        -2px -2px 0 rgba(255,0,0,1),
        -1px -1px 0 rgba(255,0,0,1);
    }
    100%{
        text-shadow: 
        4px -4px 0 rgba(255,0,0,1),
        3px -3px 0 rgba(255,0,0,1),
        2px -2px 0 rgba(255,0,0,1),
        1px -1px 0 rgba(255,0,0,1),
        -4px 4px 0 rgba(134,5,255),
        -3px 3px 0 rgba(134,5,255),
        -2px 2px 0 rgba(134,5,255),
        -1px 1px 0 rgba(134,5,255);
    }
}


@media screen and (max-width:767px) {

   
    .hero{
        height: 100%;
        width: 100%;
        background: #edf2fc;
        font-family: sans-serif;
        position: relative;
    }  
      nav img{
        height: 40px;
        width: 40px;
        float: right;
        display: block;
        background-color: #edf2fc;
        margin-right: 0;
        border-radius: 10vh;
    }
    #menu{
        display: none;
        transition: 3s;
    }
    nav ul li{
        display: flex;
        list-style: none;
        flex-direction: column;
        transition: 3s;
    }
    .img{
        display: none;
        
    }
    .img-mob{
        display: flex;;
        margin-top: 20px;
        flex-direction: column;
         align-items: center;
        justify-content: center;
               
    }
    
    .img-mob img{
     
        height: 400px;
        width: 350px;
     
        margin-left: 7vh;
       transition: 1s;
    }
    .img-mob img:hover{
        transform: translateX(4%);
      
    }
   
    .info a{
     
        padding: 10px 18px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        margin: 0;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .info p{
        margin-bottom: 40px;
        text-align: center;
    }
    .info h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    .social{
        padding-bottom: 10px;
    }
}
